<div class="Employee row well">
<form method="POST" action="/Employees/SaveEmployee" id="form-validate">
 <input type="hidden" name="ID" id="id" />
 <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Name</label>
      <input type="text" class="form-control" id="inputEmail4" name="Name" placeholder="Name">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">LastName</label>
      <input type="password" class="form-control" id="inputPassword4" name="LastName" placeholder="LastName">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-12">
    <label for="txtDescription">Description</label>
       <textarea name="Description" class="form-control" id="txtDescription" placeholder="Description" cols="4" rows="4">
      </textarea>   
  </div>
  </div>
 <div class="col-md-12"> 
<input type="submit" class="btn btn-primary" value="Submit" id=" " />
</div>
</form>



</div>  