<html>
<head>
<title> Employee Payroll System</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<div class="navbar navbar-inverse">
<header class="container">
    <div class="navbar-header">
    <div class="navbar-brand">Payroll</div>
    <button class="navbar-toggle" data-toggle="collaps<html>
<head>
<title> Employee Payroll System</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<div class="navbar navbar-inverse">
<header class="container">
    <div class="navbar-header">
    <div class="navbar-brand">Payroll</div>
    <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>
    </div>
<div class="collapse  navbar-collapse" id="menu">
    <ul class="nav navbar-nav">
    <li><a href="/api/Home/Index">Home</a></li>
    <li><a href="/api/Employees/Add">Add Employee</a></li>
    <li><a href="/api/Employees/Employees">Employees</a></li>
    </ul>
</div>
</header>
</div>
<section class="container">
    <h2>@ViewBag.Title</h2>
    @RenderBody()
</section>
<footer class="container">
    <div class="text-center">Copyright 2018 Payroll System
    </div>
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  ></script>
</html>   

<style>
#menu li
{
    display: inline;
}
#menu li:after
{
    content:' ';
}
#menu li:last-of-type::after
{
    content:"";
}
</style>e" data-target="#menu">&#9776;</button>
    </div>
<div class="collapse  navbar-collapse" id="menu">
    <ul class="nav navbar-nav">
    <li><a href="/api/Home/Index">Home</a></li>
    <li><a href="/api/Employees/Add">Add Employee</a></li>
    <li><a href="/api/Employees/Employees">Employees</a></li>
    </ul>
</div>
</header>
</div>
<section class="container">
    <h2>@ViewBag.Title</h2>
    @RenderBody()
</section>
<footer class="container">
    <div class="text-center">Copyright 2018 Payroll System
    </div>
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  ></script>
</html>   

<style>
#menu li
{
    display: inline;
}
#menu li:after
{
    content:' ';
}
#menu li:last-of-type::after
{
    content:"";
}
</style>